.HeroSection {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.HeroSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    z-index: 1;
}

.HeroSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/public/images/Mclaren.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}
.HeroCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.HeroText {
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    padding: 60px;
    color: #fcfbfc;
    z-index: 9999;
}

.HeroButton {
    margin: 10px;
    background: #fcfbfc;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 60px;
    text-decoration: none;
    z-index: 9999;
}

.HeroButton:hover {
    box-shadow: 0 0 20px 10px #dc143c;
    transition: all 0.6s ease;
    cursor: pointer;
}

.HeroSubText {
    color: #121212;
    padding-top: 20px;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 700;
    font-size: 16px;
    padding-top: 1px;
}

.grid-container-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    width: 50%;
}

@media screen and (max-width: 844px) {
    .HeroText {
        font-size: 40px;
    }

    .HeroButton {
        display: block;
        width: 150px;
    }

    .grid-container-element {
        width: 100%;
        justify-content: center;
        grid-gap: 50px;
        width: 50%;
    }

    .HeroSubText {
        font-size: 12px;
    }
}
