.ReviewsBigText {
    font-size: 3.90625vw;
    font-weight: 700;
    color: #fcfbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.text--medium {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #121212;
}

.text--medium:hover {
    font-weight: bold;
}

.ReviewsCards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.ReviewsCardBox {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #efeff0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 14px;
    align-items: center;
}

.ReviewsCardBox:hover {
    transform: translateY(-7px);
}

.ReviewsCardContent {
    padding: 20px;
}

.ReviewCardTitle {
    margin-bottom: 20px;
}

.ReviewCardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.ReviewsStarRating {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}

.ReviewsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ReviewsButton {
    margin: 10px;
    background: #fcfbfc;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 60px;
    text-decoration: none;
}

.ReviewsButton:hover {
    box-shadow: 0 0 20px 10px #ffd700;
    transition: all 0.6s ease;
    cursor: pointer;
}

.ReviewsButtonText {
    text-decoration: none;
    color: #121212;
    padding-top: 20px;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 700;
    font-size: 16px;
    padding-top: 4px;
}

@media only screen and (max-width: 844px) {
    .ReviewsCards {
        grid-column: 2 / span 12;
        grid-template-columns: repeat(12, minmax(auto, 60px));
        gap: 20px;
        padding-right: 20px;
    }

    .ReviewsCardBox {
        grid-column-end: span 12;
        margin-right: 80px;
    }

    .ReviewsBigText {
        font-size: 40px;
    }
}
