.AboutContainer {
    padding: 60px;
    margin-top: 80px;
}

.AboutTextContainer {
    width: 39.0625vw;
    height: 109.24369747899159vh;
    color: #fcfbfc;
    padding: 20px;
}

.AboutBigText {
    font-size: 3.90625vw;
    font-weight: 700;
}

.AboutSmallText {
    font-size: 1.4322916666666667vw;
    text-align: justify;
}

@media screen and (max-width: 844px) {
    .AboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AboutBigText {
        font-size: 40px;
    }

    .AboutSmallText {
        font-size: 12px;
    }
}
