.AboutContainer {
    padding: 60px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AboutTextContainer {
    width: 39.0625vw;
    height: 109.24369747899159vh;
    color: #fcfbfc;
    padding: 20px;
}

.AboutBigText {
    font-size: 3.90625vw;
    font-weight: 700;
}

.AboutSmallText {
    font-size: 1.4322916666666667vw;
    text-align: justify;
}

.AboutImage {
    width: 39.0625vw;
    height: 109.24369747899159vh;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.AboutImage:hover {
    box-shadow: 0 0 20px 10px #ffd700;
}

@media screen and (max-width: 844px) {
    .AboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AboutBigText {
        font-size: 40px;
    }

    .AboutTextContainer {
        width: 80%;
    }

    .AboutImage {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: -100px;
    }

    .AboutSmallText {
        font-size: 12px;
        text-align: left;
    }
}
