.ContactBackground {
    background: #181818;
    color: #fcfbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContactBigText {
    font-size: 3.90625vw;
    font-weight: 700;
    color: #fcfbfc;
    padding-bottom: 20px;
}

.ContactQuestion {
    margin: 10px 0;
    background-color: #fcfbfc;
    border-radius: 5px;
    overflow: hidden;
    width: 39.0625vw;
}

.ContactQuestion header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.ContactQuestion h4 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #121212;
}

.ContactQuestion p {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: #4d4d4d;
}

.ContactQuestion button.btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color: #121212;
    cursor: pointer;
    transition: transform 0.2s;
}

.ContactQuestion button.btn:hover {
    transform: scale(1.1);
}

.ContactQuestion button.btn:focus {
    transform: scale(1.1);
    color: #dc143c;
}

.ContactGoogleMap {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .ContactBigText {
        font-size: 40px;
    }

    .ContactQuestion {
        width: 400px;
    }

    .ContactGoogleMap {
        width: 400px;
        height: 400px;
    }
}
